# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/CLIENT/node_modules
/CLIENT/.pnp
/CLIENT/.pnp.js

# testing
/CLIENT/coverage

# next.js
/CLIENT/.next/
/CLIENT/out/

# production
/CLIENT/build

# misc
/CLIENT.DS_Store
/CLIENT*.pem

# debug
/CLIENTnpm-debug.log*
/CLIENTyarn-debug.log*
/CLIENTyarn-error.log*
/CLIENT.pnpm-debug.log*

# local env files
/CLIENT.env*.local

# vercel
/CLIENT.vercel
