.banner {
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100vw;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    // list-style-type: none;
    margin: 0;
    padding: 15px;
    align-items: center;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 1vw;
      button {
        font-size: min(1.5vw, 1rem);
        color: #000;
        width: min(15vw, 150px);
        text-decoration: none;
        padding: 10% 20%;
        transition: background-color ease 250ms;
        outline: none;
        border: #000 solid 1px;
        border-radius: 5px;
        &:hover {
          transition: background-color ease 250ms;
          cursor: pointer;
          background-color: rgb(93, 151, 239);
        }
      }
      .logo-image {
        filter: invert(100%);
        width: min(15vw, 150px);
        height: auto;
      }
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
}